
.logo-text {
    font-size: 18px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #23527c;
    flex-grow: 1; 
}

.satyamev-logo {
    align-items: initial;
    display: flex;
    width: 50px; 
    margin-right: 10px; 
}
/* Inside your CSS file or style tag */
.header__bar-content-wrapper {
  display: flex;
  justify-content: space-between; /* Add this line */
  align-items: center; /* Add this line for vertical alignment if needed */
}

.contact-button {
  text-decoration: none;
  color:color( red green blue);
  margin-left: auto; /* This will push the button to the right side */
}
.contact-button{
  color: #d1d1d1;
  font-size: medium;
  font-weight: 1000;
}
.usericon{
  size: 200px;
}

.contact-button:hover {
  text-decoration: underline;
}

.satyamev-log {
    align-items: initial;
    display: flex;
    width: 50px; 
    margin-right: 10px; 
}








.header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 10vh; 
    flex-direction: row;
  }

  





































.dashboard-label {
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8px;
  flex: 1 1;
}  
.buttonclass {
  font-size: 30%; /* Adjust the font size relative to the parent element */
  padding: 3px 10px;
  width: 100px; /* Adjust the width */
  height: 35px; /* Adjust the height */
  border-radius: 2px;
  font-family:'Times New Roman', Times, serif;
  background-color: #ccc;
  align-items: left;
  
}

.header__bar {
  height: 42px;
  background: linear-gradient(119.54deg,#000046,#1cb5e0);
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}





.header__bar-content-wrapper {
  max-width: 1170px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
}
.header__dashboard-label {
  background: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 8px;
  flex: 1 1;
}














