<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3 class="footer-head">About Us</h3>
        <p>Information about Digilocker 
            aadhar Verification and it's  services.</p>
      </div>
      <div class="footer-section">
        <h3 class="footer-head">Contact Us</h3>
        <p>Email: aadharverify@gmail.com<br>Phone: +91 
        912678908</p>
      </div>
      <div class="footer-section">
        <h3   class="footer-head">Legal</h3>
        <p>Privacy Policy | Terms of Service</p>
      </div>
    </div>
    <p>&copy; 2023 Digilocker aadhar Verification. All rights reserved.</p>
  </footer>

  
 