.ammu{
  font-size: xxx-large;
font-family: Roboto, sans-serif;
letter-spacing: normal;
margin: 0 0 16px;
}
.loading-overlay p {
  margin-top: 1rem;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Add blur effect */
}
.swal2-popup {
  font-size: 1rem;
}
.swal2-title {
  font-size: 1.5rem;
}
.swal2-content {
  font-size: 1.2rem;
}
.swal2-icon {
  font-size: 2rem;
}
.swal2-confirm {
  font-size: 1rem;
}

.swal2-cancel {
  font-size: 1rem;
}

/* Customize the appearance of the success icon */
.swal2-success .swal2-icon .swal2-success-ring {
  border: 0.25rem solid #28a745; /* Success ring color */
}

.swal2-success .swal2-icon:after {
  border-top: 0.35rem solid #28a745; /* Success checkmark color */
  border-left: 0.15rem solid #28a745; /* Success checkmark color */
}

.swal2-success .swal2-icon .swal2-success-fix {
  margin-left: 0.625rem;
  margin-top: 0.375rem;
}

/* Customize the appearance of the error icon */
.swal2-error .swal2-icon {
  border: 0.25rem solid #dc3545; /* Error icon border color */
}

.swal2-error .swal2-icon:after, .swal2-error .swal2-icon:before {
  background-color: #dc3545; /* Error icon background color */
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Apply animations to SweetAlert */
.swal2-popup {
  animation: fadeIn 0.5s ease-in-out;
}
.swal2-popup.swal2-invisible {
  animation: fadeOut 0.3s ease-in-out forwards;
}
/* Add this style in your component's CSS or in your global styles */
form.show-validation-messages {
  height: auto; /* Set the desired height */
}





    
    .mb-5 {
      margin-bottom: 1.2rem!important;
  }
  .mb-3 {
    margin-bottom: 1rem!important;
}
.mb-4 {
  margin-bottom: 1rem!important;
}

:host ::ng-deep .form-control {
  border-width: 1px; /* Adjust the border width */
  padding: 4px; /* Adjust the padding */
}
.errorMessage {
  color: red;
}
.required
{
  color: red;
}