<app-logout></app-logout>
<div class="container">
  <h1 class="text-center">Verified Users</h1>
  <br>
 
  <div class="table-responsive">
    <table class="table table-light">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Phone</th>
          <th>Aadhar Number</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let chunk of getChunks(user, 3)">
          <tr *ngFor="let singleUser of chunk">
            <td class="black-text">{{ singleUser.firstName }} {{ singleUser.lastName }}</td>
            <td class="black-text">{{ singleUser.age }}</td>
            <td class="black-text">{{ singleUser.phone }}</td>
            <td class="black-text">{{ singleUser.aadharNumber }}</td>
            <td class="black-text">{{ singleUser.email }}</td>
            <td class="black-text">
              <button class="btn btn-danger" (click)="delete(singleUser.id)">Delete</button>
              <button class="btn btn-primary update" (click)="update(singleUser.id)">Update</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>

