/* Add these styles for the table */
.table-light th, .table-light td {
  background-color: white;
}

/* Style for buttons inside the table cells */
.table-light button {
  margin-right: 5px;
}

/* Add styles for the user images */
.table-light img {
  border-radius: 50%;
}

/* Center the content vertically in each table cell */
.black-text {
  color: black !important;
}
.footer {
  margin-top: 130px; /* This will push the footer to the bottom */
}

body {
  min-height: 100vh; /* Ensure that the body takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
}
