.register-photo {
  padding: 30px 0;
}
.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url("https://www.visualsstock.com/images/Low/4/AK56244.jpg") center/cover no-repeat;  
}
.container {
  margin-top: 10px;
}
.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
 
}
.body
{
  font-family: sans-serif;
  text-align: center;
 
}


.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
  border-radius: 8px; 
}

@media (max-width: 991px) {
  .register-photo form {
      padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}







