<app-options></app-options>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- Include Bootstrap CSS, either by linking from CDN or by adding it to your project -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Image Section -->
                <img *ngIf="details?.id && passportImageUrl" [src]="passportImageUrl" alt="User Image" class="img-fluid">
                <img *ngIf="(details?.Id && passportImageUrl) as showImage" [src]="showImage ? passportImageUrl : 'assets\pdupe.png'" alt="User Image" class="img-fluid">
                <div class="buttoncss">
                    <button class="btn btn-primary" *ngIf="passportImageUrl" (click)="downloadImage(passportImageUrl)">Download Image</button>
                    <button class="btn btn-primary"  *ngIf="passportImageUrl"(click)="update(details.id)">Update</button>

                </div>            </div>
            <div class="col-md-6">
                <!-- Details Section -->
                <div class="user-card card">
                    <div class="card-header user-header">
                        <img src="https://thumbs.dreamstime.com/b/verified-stamp-seal-vector-illustration-rubber-simple-isolated-white-background-158487578.jpg" alt="Aadhar Logo" class="user-logo">
                        <p>User Details<p>
                    </div>

                    <div class="card-body user-details">
                      
                        <div class="detail">
                            <span class="label">First Name:</span>
                            <span class="value">{{details.firstName}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Last Name:</span>
                            <span class="value">{{details.lastName}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Age:</span>
                            <span class="value">{{details.age}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Address:</span>
                            <span class="value">{{details.address}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Phone:</span>
                            <span class="value">{{details.phone}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Aadhar Number:</span>
                            <span class="value">{{details.aadharNumber}}</span>
                        </div>
                        <div class="detail">
                            <span class="label">Email:</span>
                            <span class="value">{{details.email}}</span>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS, either by linking from CDN or by adding it to your project -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
