.user-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .user-logo {
    width: 40px;
    margin-right: 8px;
  }
  .form
  {
    height: 30px;
  }
  .detail {
    margin-bottom: 1px
  }



  .card{
    height: 300px;
  }
  .ammu {
    font-size: xxx-large;
    font-family: 'Roboto', sans-serif;
    letter-spacing: auto; 
    margin-bottom: 50px; 
  }
  
  .card {
    margin-bottom: 0;
   }
  .button-container {
    display: flex;
    justify-content: space-between;
  }.buttoncss {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}
.img-fluid
{
  height: 300px;
  width:500px;
}
.user-card {
  width: 350px;
  padding: 1px;
  margin-top: 1px; 
  margin-bottom: 0px;
  display: flex;
 
}
.buttoncss button {
  margin-right: 10px; /* Adjust the margin as needed to create space between buttons */
}



